<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ficha de Personagem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>ORBITAL DECAY</h1>
    <div class="ficha">
        <label class="label" for="nome">Nome:</label>
        <label class="input" for="nome">{{ nome }}</label><br><br>

        <label class="label" for="origem">Origem:</label>
        <label class="input" for="origem">{{ origem }}</label><br><br>
        
        <center>
            <input type="checkbox" id="reduzirAtributos" onclick="atualizarAtributos()">
            <label class="label" for="reduzirAtributos">Desvantagem</label><br><br>
                    
            <label class="label">Atributos</label><br><br>
            <button class="button" type="button" onclick="gerarNumeroAleatorio(max_com)" id="comButton">Comando: D{{ max_com }}</button>
            <button class="button" type="button" onclick="gerarNumeroAleatorio(max_manu)" id="manuButton">Manutenção: D{{ max_manu }}</button>
            <button class="button" type="button" onclick="gerarNumeroAleatorio(max_cie)" id="cieButton">Ciência: D{{ max_cie }}</button>
            <button class="button" type="button" onclick="gerarNumeroAleatorio(max_sec)" id="secButton">Segurança: D{{ max_sec }}</button>

            <br><br>
            <label class="label">Estresse</label><br><br>
            <button class="button" id="estresseButton" onclick="aumentarEstresse()">D6</button>
            <button class="button-white" type="button" onclick="resetarEstresse()">Descansar</button>

            <br><br>
            <label class="label">Resultado</label><br>
            <div id="resultado"></div>
        </center>
    </div>
    <script src="script.js"></script>
</body>
</html>
