<!DOCTYPE html>
<html>
<head>
	<title>Formulário</title>
</head>
<body>
	<form method="POST" action="/ficha">
		<label>Nome:</label>
		<input type="text" name="nome"><br>
		<label>Origem:</label>
		<input type="text" name="origem"><br>
		<label>Comando:</label>
		<input type="text" name="coman"><br>
		<label>Manutenção</label>
		<input type="text" name="manu"><br>
    <label>Ciência</label>
		<input type="text" name="cie"><br>
    <label>Segurança</label>
		<input type="text" name="seg"><br>
    <label>Equipamento</label>
		<input type="text" name="equip"><br>
		<button type="submit">Gerar Texto</button>
	</form>
</body>
</html>
