
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Exemplo de Ficha</title>
	<style>
		body {
			background-color: #222;
			color: white;
			font-family: Arial, sans-serif;
			font-size: 30px;
			margin: 0;
			padding: 0;
		}
		
		.ficha {
			background-color: #333;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
			margin: 20px auto;
			width: 100%;
			max-width: 200px;
			padding: 20px;
		}

		.label {
			color: #00ff7f;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div class="ficha">
		<center><label class="label">{{ n1 }}</label><br>
		<body class="body">{{ r1 }}</body><br><br>
		
		<label class="label">{{ n2 }}</label><br>
		<body class="body">{{ r2 }}</body><br><br>
		
		<label class="label">{{ n3 }}</label><br>
		<body class="body">{{ r3 }}</body><br><br>
		
		<label class="label">{{ n4 }}</label><br>
		<body class="body">{{ r4 }}</body><br><br>
	</div>
</body>
</html>


